#header {
  text-align: center;
  font-size: 2.779em; /*61.136px for the h1, should be nice to look at on a phone.*/
  color: #4B3D2D;
  width: 100%;
  margin-top: 20px;
}
html {
  height: auto;
  width: auto;
}
body {
  background-color: #E3D4B9;
}
div {
  display: block;
  padding: 5%;
  margin: 0 auto;
  height: 25%;
  width: 0 auto;
}
.main {
  padding: 0;
  margin: 0 auto;
}
h2 {
  text-align: center;
  font-size: 1.667em;
  padding: 5px 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-style: italic;
  color: #A67C4D;
  /*color: #4B3D2D; */
}
p {
  font-size: 1em;
  color: #4B3D2D;
}
/*Form components*/
form {
  box-sizing: border-box;
  padding: 4rem 3rem;
  margin: 0 auto;
  background-color: #D9CBA0;
  width: 500px;
  height: 1000px;
}
label {
  display: block;
  width: auto;
  text-align: center;
}
input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="time"] {
  font-family: "Inter", "Helvetica", sans-serif; /* Change this font family later... */
  width: 250px; /* Fix the width in revision, should not have all widths be the same. */
  padding: 12px;
  margin: 10px 0;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center; /*Text should align where appropriate, so I'm experimenting with that.*/
}
#book-section {
  width: 100%;
  height: 200px;
  overflow: auto;
  text-align: left;
}
fieldset {
  border: 1px solid #8B5B29;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: #4B3D2D; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/*Media queries for screen sizes*/
@media only screen and (min-width:601px) {
  .main {
    display: block; /*These are placeholders until I can properly change them.*/
    width: 100%;
    margin: 0 auto;
  }
  form {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 3rem 2rem;
    width: auto;
    height: 100%;
  }
  fieldset {
    display: block;
    margin: 15px;
    border: 5px groove;
  }
  legend {
    font-size: 1.5em;
  }
}
@media only screen and (min-width:992px) {

}